body {
    font-size: 15pt;
    margin: 0;
    text-align: center;
}
.header{
  max-width: 100%;
  background: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.bruh{
  cursor: pointer;
}
.bruh.active{
  display: none;
}
.ladno{
  display: none;
  cursor: pointer;
}
.ladno.active{
  display: block;
}
.krein{
  text-align: center;
  max-width: 100%;
  border: 10px solid #000;
  background: purple;
  color: #fff;
  margin-top: 15px; 
  cursor: pointer;
}
.krein:hover{
  background: rgba(0, 0, 0, 0.6);
}
.urod{
  margin: 0;
}
.bit{
  color: cyan;
}
.krupa{
  text-align: center;
  max-width: 100%;
  border: 10px solid yellowgreen;
  background: orange;
  color: purple;
  margin-top: 10px;
  cursor: pointer;
}
.krupa:hover{
  background: rgba(0, 0, 0, 0.6);
}
.doter-title{
  margin: 0;
}
.doter-text{
  color: cyan;
}
.sema{
  text-align: center;
  max-width: 100%;
  border: 10px solid blue;
  background: green;
  color: Red;
  margin-top: 10px;
  cursor: pointer;
}
.sema:hover{
  background: rgba(0, 0, 0, 0.6);
}
.sema-title{
  margin: 0;
}
.sema-text{
  color: cyan;
}
.nikit{
  text-align: center;
  max-width: 100%;
  border: 10px solid #ccc;
  background: #000;
  color: yellow;
  margin-top: 10px;
  cursor: pointer;
}
.nikit:hover{
  background: rgba(0, 0, 0, 0.6);
}
.nikit-title{
  margin: 0;
}
.nikit-text{
  color: cyan;
}
.den{
  text-align: center;
  max-width: 100%;
  border: 10px solid red;
  background: blue;
  color: dark;
  margin-top: 10px;
  cursor: pointer;
}
.den:hover{
  background: rgba(0, 0, 0, 0.6);
}
.den-title{
  margin: 0;
}
.den-text{
  color: cyan;
}
.krain-img{
  max-width: 100%;
  opacity: 0;
}
.krain-img.active{
  opacity: 1;
  transform: translate(0px, -140%);
  transition: all 0.8s ease 0s;
}
.krupa-img{
  max-width: 100%;
  opacity: 0;
}
.krupa-img.active{
  opacity: 1;
  transform: translate(0px, -200%);
  transition: all 0.8s ease 0s;
}
.sema-img{
  max-width: 100%;
  opacity: 0;
}
.sema-img.active{
  opacity: 1;
  transform: translate(0px, -280%);
  transition: all 0.8s ease 0s;
}
.nikit-img{
  max-width: 100%;
  opacity: 0;
}
.nikit-img.active{
  opacity: 1;
  transform: translate(0px, -380%);
  transition: all 0.8s ease 0s;
}
.den-img{
  max-width: 100%;
  opacity: 0;
}
.den-img.active{
  opacity: 1;
  transform: translate(0px, -440%);
  transition: all 0.8s ease 0s;
}
.text{
  opacity: 0;
  max-width: 100%;
}
.text.active{
  opacity: 1;
  transform: translate(0px, -841%);
  transition: all 0.8s ease 0s;
}
@media (max-width: 450px){
  .header{
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media(min-width: 500px){
  .krain-img{
    max-width: 500px;
    display: none;
    margin: 0 auto;
  }
  .krain-img.active{
    display: block;
    transform: translate(0px, -120%);
    transition: all 0.8s ease 0s;
  }
  .krupa-img{
    max-width: 500px;
    display: none;
    margin: 0 auto;
  }
  .krupa-img.active{
    display: block;
    transform: translate(0px, -110%);
    transition: all 0.8s ease 0s;
  }
  .sema-img{
    max-width: 500px;
    display: none;
    margin: 0 auto;
  }
  .sema-img.active{
    display: block;
    transform: translate(0px, -100%);
    transition: all 0.8s ease 0s;
  }
  .nikit-img{
    max-width: 500px;
    display: none;
    margin: 0 auto;
  }
  .nikit-img.active{
    display: block;
    transform: translate(0px, -90%);
    transition: all 0.8s ease 0s;
  }
  .den-img{
    max-width: 500px;
    display: none;
    margin: 0 auto;
  }
  .den-img.active{
    display: block;
    transform: translate(0px, -80%);
    transition: all 0.8s ease 0s;
  }
  .text{
    display: none;
    max-width: 500px;
    margin: 0 auto;
  }
  .text.active{
    display: block;
    transform: translate(0px, -140%);
    transition: all 0.8s ease 0s;
  }
}